* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
<<<<<<< HEAD
  width: 1200px;
  margin: 0 auto;
  /* background-color: red; */
  position: relative;
=======
    width: 1200px;
    margin: 0 auto;
    /* background-color: red; */
>>>>>>> 8e3bb5944dc556bc45ed9cd49bd22f8be043dd3f
}
.img {
    background-image: url(./images/showcase-back-black.jpg);
    background-size: cover;
    height: 831px;
    position: relative;
}
.img2 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.link {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 60px;
}
.showcase_control {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: darkgoldenrod;
    text-align: center;
    border: darkgoldenrod;
    padding: 15px 20px;
    transition: 0.5s;
}
.button:hover {
    background-color: blanchedalmond;
}
.button:active {
    background-color: blueviolet;
}
.p {
    color: aliceblue;
    width: 450px;
    font-size: 20px;
}
.salon {
    width: 513px;
    height: 90px;
    margin-top: 30px;

    color: aliceblue;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: darkorange;
}
.welcome {
    font-family: sans-serif;
    font-size: 16px;
    width: 400px;
    color: darkgoldenrod;
    margin-top: 220px;
}
.class {
    display: flex;
}
.showcase_control {
    display: flex;
}
.buttons {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
body {
    font-family: sans-serif;
}
ul {
    list-style: none;
}
.control_navbar {
    height: 60px;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button2 {
    width: 182px;
    height: 52px;
    margin-top: 50px;
    background-color: darkgoldenrod;
    text-align: center;
    border: darkgoldenrod;
}
.button3 {
    height: 53px;
    width: 182px;
    top: 639px;
    margin-top: 50px;
    margin-right: 100px;
}
.showcase2 {
    background-color: darkgray;
    width: 1440px;
    height: 831px;
    display: flex;
    /* justify-content: space-between; */
}
/* .control-showcase {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
} */

.imgs {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.welcome2 {
    font-family: sans-serif;
    font-size: 16px;
    width: 300px;
    color: darkgoldenrod;
}
.a_link:hover {
    color: chartreuse;
}
.a_link:active {
    color: aqua;
}
.imgs {
    width: 370px;
    height: 450px;
    /* background-color: blueviolet; */
    position: relative;
}
.rasm2 {
    position: absolute;
    top: 0;
    right: 0;
}
.rasm3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}
.rasm4 {
    position: absolute;
    top: 0;
    left: 0;
}
.showcase2-control {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    padding-top: 100px;
}
.haircut {
    width: 600px;
    /* background-color: blue; */
    align-items: center;
}
.haircut h2 {
<<<<<<< HEAD
  font-size: 40px;
  margin-top: 30px;
  width: 400px;
}
.haircut p {
  width: 400px;
  margin-top: 40px;
}
.images {
  background-image: url(./images/barber.jpg);
  height: 500px;
  margin-top: 150px;
}
.call {
  width: 200px;
  height: 200px;
  background-color: aliceblue;
}
.showcase3_control {
  position: relative;
  display: flex;

  margin-top: 100px;
}
.hairdress {
  align-items: center;
  padding: 50px 100px;
  width: 600px;
  top: 100px;
  position: absolute;
}
.call {
  position: absolute;
  top: 200px;
  right: 100px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}
.hairdress h2 {
  font-size: 40px;
  margin-top: 30px;
  width: 400px;
}
.hairdress p {
  width: 400px;
  margin-top: 40px;
}
.call h3 {
  margin-top: 30px;
  color: gray;
}
.call h4 {
  font-size: 20px;
}
.vector {
  margin-top: 50px;
}
.working {
  width: 1100px;
  height: 390px;
  background-color: darkgoldenrod;
  right: 50px;
  position: absolute;
  top: 100px;
}
.posiotion3 {
  height: 390px;
  width: 400px;
}
.posiotion3 h4{
  font-size: 40px;
  margin-top: 30px;
  width: 400px;
}
.container2{
  width: 1200px;
  margin: 0 auto;
  /* background-color: red; */
  position: relative;
  height: 700px;
}
.span{
  width: 800px;
  height: 0.5px;
  border: 1px dashed;
  /* background-color: blue; */
  display: inline-block;
}
.jadval{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 200px;
}
.h4{
  color: aliceblue;
  size: 0px;
}
.working{
  display: flex;
}
.imgs{
  background-image: url(./images/two-men.png);

}
